body {
	border: 2px solid black;
	font-family: TimesNewRoman;
	text-align: left;
	min-height: 100%
}

.header {
	border-bottom: 2px solid black;
	text-align: right;
	padding-bottom: 1%;
	line-height: 5px;
}

.header a {
	margin-right: 1%;
	font-size: 15px;
}

 .current {
	font-weight: bold;
}

.header h1 {
	margin-left: 2%;
	margin-top: 30px;
	text-align: left;
	font: bold;
	font-size: 35px;
	padding: 5px;
}

.body {
	font-size: 15px;
	text-align: left;
	margin: 10px 10px 10px 185px;
	padding: 25px;
	border: 1px solid #b7b6b0;
	line-height: 2em;
	min-height: 600px;
	padding-bottom: 100px;
}

.login-body {
	font-size: 15px;
	text-align: left;
	margin: 10px 10px 10px 10px;
	padding: 25px;
	border: 1px solid #b7b6b0;
	line-height: 2em;
	min-height: 600px;
	padding-bottom: 100px;
}

#active_menu {
	font-weight: bold
}

.menu-div {
	float: left;
}

.menu {
	background-color: white;
	align: left;
	text-align: left;
}

.border {
	background-color: #f4f4f4;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.search {
	
}

.back-link {
	margin-left: 0px;
}

.author {
	float: left;
	padding-left: 100px;
}

.tags {
	float: left;
	margin-left: 10px;
	width: 150px;
}

.add-news {
	padding-top: 30px;
}

.author1 {
	margin-top: 20px;
	float: left;
	padding-left: 150px;
}

.tags1 {
	margin-top: 20px;
	float: left;
	margin-left: 10px;
	width: 150px;
}

.add-news-button {
	margin-top: 60px;
	margin-left: 50px;
}

.filter {
	float: left;
	margin-left: 10px;
}

.reset {
	padding-left: 10px;
}

.comment-text {
	background-color: #f4f4f4;
	width: 350px;
}

.prev {
	float: left;
	padding-bottom: 20px;
}

.next {
	margin-left: 550px;
	padding-bottom: 20px;
}

.textarea {
	margin-top: 20px;
}

.post-comment-button {
	margin-left: 230px;
	margin-top: 10px;
}

.del-comment-button {
	margin-left: 350px;
}

.list-news {
	width: 100%;
	padding-bottom: 20px;
}

.news-title {
	margin-left: 50px;
	width: 400px;
	text-style: bold;
}

.news-date {
	float: left;
	margin-left: 50px;
}

.news-brief {
	text-align: left;
	outline: thin;
	margin-left: 50px;
	width: 400px;
	height: 100px;
}

.news-content {
	margin-left: 50px;
	width: 400px;
	height: 200px;
}

.news-list-title {
	font-weight: bold;
	float: left;
}

.news-list-date {
	text-align: right;
	text-decoration: underline;
}

.news-list-brief {
	width: 40%;
}

.news-list-tags {
	text-align: right;
}

.footer {
	height: 20px;
	text-align: center;
	border-top: 2px solid black;
}

.title {
	text-align: left;
	vertical-align: top;
	color: #a9a9a9;
}

.pages {
	margin-left: 250px;
	width: 30% background-color: #f4f4f4;
}

.login {
	margin-left: 250px;
	margin-top: 250px;
}

.delete {
	margin-left: 530px;
	padding-top: 40px;
}
.error {
        color: red; font-weight: bold;
    }